.title {
    width: 100%;
    height: 60px;
    color: rgba(255,255,255,0.7);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}
.ant-layout-header {
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
}

.site-layout-background {
    width: 100%;
    background: #fff;
}